.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #000000;
  position: fixed;
  width: 100%;
  z-index: 2;

  &__logo {
    margin-right: 15px;
    width: 50px;
  }

  &__logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__restaurantName {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;

    @media(max-width: 600px) {
      font-size: 20px;
    }

    @media(max-width: 520px) {
      font-size: 18px;
    }
    @media(max-width: 495px) {
      display: none;
    }
  }

  &__exit {
    max-width: 50px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__exitImg {
    width: 30px;
    height: 30px;
  }

  &__workerInfo {
    display: flex;
    justify-content: space-between;
    width: auto;
  }

  &__workerName {
    color: #ffffff;
    font-size: 15px;
  }
}
